@import url('https://kit.fontawesome.com/bb118e3678.js');
html {
    height: 100%;
    overflow: hidden;
}

body {
    background-color: #7215A9;
    margin: 0;
    font: 44px "Century Gothic", Futura, sans-serif;
    color: #ffffff;
    text-shadow: 0 0 2px #ffffff, 0 0 5px #ffffff, 0 0 10px #ffffff;
}

ol, ul {
    padding-left: 30px;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
    margin-left: 10px;
}

.square {
    color: #ffffff;
    text-shadow: 0 0 2px #ffffff, 0 0 4px #ffffff, 0 0 8px #ffffff;
    box-shadow: 0 0 1px #ffffff inset, 0 0 2px #ffffff inset, 0 0 4px #ffffff inset;
    border: 20px solid #fff;
    float: left;
    font-size: 70px;
    font-weight: bold;
    line-height: 70px;
    height: 134px;
    margin-right: -20px;
    margin-top: -20px;
    text-align: center;
    width: 134px;
}

.square:focus {
    outline: none;
}

.square:hover {
    outline: none;
    box-shadow: 0 0 18px #ffffff inset;
}

.kbd-navigation .square:focus {
    background: #F006DB;
}

.game {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.game-board {
    position: relative;
    margin: auto;
    transform: translateY(-50px);
    flex-wrap: nowrap;
}

.game-cells {
    padding-right: 20px;
    box-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
}

.board-row {
    min-width: max-content;
}

.game-info {
    margin-left: 20px;
}

button {
    background-color: #7215A9;
}

.new-game {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    padding: 0 10px 0 10px;
    width: fit-content;
    margin-top: 30px;
    text-align: center;
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff;
}

.button:hover {
    cursor: pointer;
    font-size: 48px;
}

.bot-settings {
    background-color: transparent;
    padding-left: 30px;
    margin-left: 120px;
    z-index: 1;
    position: fixed;
    left: 1;
    top: 0;
}

.active {
    background-color: rgba(255, 255, 255, 0.207);
    border-radius: 15px;
    width: fit-content;
}

.left-panel {
    margin-left: -120px;
    position: relative;
    z-index: 2;
    left: 0;
    height: 100%;
    width: 110px;
    padding-right: 10px;
    padding-left: 10px;
    box-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
    transition: width 1s, height 1s, background-color 1s, transform 1s;
}

.left-panel:hover {
    transform: translate(120px);
}

.left-panel-element {
    padding: 5px 0 5px 0;
    cursor: pointer;
    margin-top: 50px;
    text-align: center;
    font-size: 25px;
    width: 100%;
}

.left-panel-element span {
    padding: 5px;
}

.left-panel-element:hover {
    font-size: 27px;
}

.fa-chart-bar {
    bottom: 0;
}

.fa-user {
    padding: 0px;
    font-style: unset;
}

.fa-palette {
    bottom: 70px;
    background-color: #7215A9;
    text-shadow: 0 0 5px #ffffff;
}

.no-shadow {
    text-shadow: 0 0 0px #00000000;
    box-shadow: unset;
}

.fa-desktop {
    padding: 0 0px 0 0px;
}

.element-down {
    position: absolute;
    margin: auto;
    margin-bottom: 50px;
    transform: translate(-50%);
    font-size: 35px;
}

.element-down:hover {
    font-size: 40px;
}